body.dark {
    background-color: #1d1d1d;
    overflow: hidden;
}

h1.dsf-header {
    font-size: 10em;
    color: #888888;
    text-shadow:
        -1px -1px 1px black,
        1px 1px 1px #cccccc,
        6px 6px 6px black,
        8px 8px 4px red;
    font-family: Impact, Charcoal, sans-serif;
    letter-spacing: 0.05em;
}

div hr {
    background-color: #444444;
    height: 2px;
    margin: 10px 7% 20px 1%;
}

div.inline {
    display: inline-block;
}

div.col-3 {
    margin-right: 8%;
    vertical-align: top;
}

button.btn-light:focus:not(:active) {
    box-shadow: none;
    transition: box-shadow 1.5s ease-in;
}

input.form-control#factInput {
    width: 80%;
    border-radius: 0.25rem 0px 0px 0.25rem;
}

div.input-group-append:not(.inline)>button.btn {
    border-radius: 0px 0.4rem 0.4rem 0px;
    background-image: linear-gradient(to right, #3fcc3f, #609961);
    opacity: 0.7;
    border-color: #1d1d1d;
    transition: opacity 0.5s;
    font-weight: 500;
    padding-top: 7px;
    padding-bottom: 7px;
}

div.input-group-append>button.btn:hover {
    opacity: 1;
    transition: opacity 0.5s;
}

div.input-group-prepend.inline>button.btn {
    border-radius: 0.3rem 0px 0px 0.3rem;
}

div.input-group-append.inline>button.btn {
    border-radius: 0px 0.3rem 0.3rem 0px;
    margin-left: -1px;
}

div.is-alive-status div button.btn {
    border-radius: 0px 0.3rem 0.3rem 0px;
    margin-left: -2px;
}

div#buttonsPanel {
    text-align: center;
}

div#buttonsContainer button:not(.name-submit) {
    background-image: radial-gradient(#405fff, #4075d2);
    color: black;
    opacity: 0.92;
    transition: opacity 0.5s;
    font-weight: 500;
}

div#buttonsContainer button:not(.name-submit):hover {
    opacity: 1.0;
    transition: opacity 0.5s;
}

div#buttonsContainer button.active:not(.name-submit) {
    color: #333333;
    opacity: 0.7;
    transition: opacity text-decoration 0.5s;
    text-decoration: underline;
}